@model IEnumerable<cogbank.model.Movimentacao>
@{
	Layout = null;
}
<div>
	<table class="table table-hover table-striped datatable">
		<thead>
			<tr>
				<th>Data da Movimentação</th>
				<th>Tipo da Movimentação</th>
				<th>Valor</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.DataDaMovimentacao)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.TipoDeMovimentacao.Descricao)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Valor)
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>
