@{
	Layout = null;
}
<table class="table table-bordered table-striped mb-none" cellspacing="0" rules="all" border="1" style="border-collapse:collapse;">
	<tr>
		<td colspan="5">Nenhum registro encontrado.</td>
	</tr>
</table>
